<!DOCTYPE html>
<html lang="en">
<title>Smart Shutter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "icon" type = "image/png" href = "../static/images/headicon.png">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../static/function.js"></script>
        <!-- <script src="function.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Lato", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="../static/images/headicon.png" class="Imag" /> <span class="OCR">Smart Shutter &nbsp;</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/FeeForm">Fee Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AdmissionForm">Admission Form</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/CustomizeForm">Customize Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Data">Data Visualization</a>
        </li>


      </ul>
    </div>
  </nav>
<!-- navbar ends -->

<!-- Header -->
<header class="w3-container w3-black  w3-center" style="padding:10px 16px">
    <div class="text-center">
      <img src="../static/Images/j.jpg" style="width:500px">
    </div>
  <h1 class="w3-margin w3-jumbo">SMART SHUTTER</h1>

  <p class="w3-xlarge">...</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 style="color: #383838;">What is Smart Shutter ?</h1>
      <h5 class="w3-padding-32">Smart Shutter is an Intelligent Document Processing platform built for the needs of today’s complex digital enterprise. Smart Shutter brings together the best
          Image processing  ,Computer vision, and advanced character recognition capabilities into a single scale platform to handle every type of document, from simple forms to complex free-form documents, and every job size.</h5>

      <p class="w3-text-grey">Orchestrating the process from acquisition to delivery, Smart Shutter works towards the extraction of most relevant information from any given data set, eliminating the tedious manual search for any specific information. Hence helping organisations through edge cutting capabilities to improve data management through document automation </p>
    </div>

    <div class="w3-third w3-center">
      <i class=" w3-padding-64 w3-text-red"><img src="../static/Images/ai.jpg" style="width:400px; padding:30px;"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class=" w3-padding-64 w3-text-red w3-margin-right"><img src="../static/Images/doc.jpg" style="width:450px; padding:30px; margin-left:-130px;"></i>
    </div>

    <div class="w3-twothird">
      <h1 style="color: #383838;">Features and Benefits</h1>
      <h5 class="w3-padding-32"> Features include faster and straight through preprocessing of the images, data validation and control, Critical data fields, context, and entities are identified, validated, and automatically processed according to business rules and requirements. The system can be easily trained and uses ongoing machine learning for continuous improvements and cost control and Intelligent Data Extraction</h5>

      <p class="w3-text-grey">. Digital processing system understands the importance of saving company resources, having a centralized management where files are automated and they are stored in a secure central platform, Maximized Efficiency which eliminates the process of going through individual files and picking out relevant information and Enhanced Security which is not always guaranteed for records stored in file cabinets.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Data has a better Idea</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>

</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
